

<%= form_tag("/job_applications", method: "post") do %>
  <p>
    <%= label_tag(:name, "Full Name") %>
    <%= text_field_tag(:name) %>
  </p>

  <p>
    <%= label_tag(:phone, "Phone") %>
    <%= text_field_tag(:phone) %>
  </p>

  <p>
    <%= label_tag(:hobby, "Hobby") %>
    <%= text_field_tag(:hobby) %>
  </p>

  <p>
    <%= label_tag(:experience, "Years Experience") %>
    <%= number_field_tag(:experience) %>
  </p>

  <p>
    <%= label_tag(:date, "Available Date ") %>
    <%= date_field_tag(:date) %>
  </p>

  <p>
    <%= submit_tag("Create Job Applicaiton") %>
  </p>
<% end %>
